<div class="user-card">
  <p class="card-header">Details for {{user.userName}}</p>
  <div>
    <input value={{user.firstName}} />
    <input value={{user.lastName}} />
  </div>

  <div>
    <p>Vacation Time</p>
    <div>
      <input value={{user.vacationStart}} />
      <input value={{user.vacationEnd}} />
    </div>
  </div>
</div>
