<div>
  <p>Vacation Time for {{user.fullName}}</p>

  {{#each user.vacations as |vacation|}}
    <div>
      {{vacation.length}} days, {{vacation.startDate}} - {{vacation.endDate}}
    </div>
  {{else}}
    No vacation scheduled
  {{/each}}

  <div data-test-id="date-pickers">
    <h3> Create New Vacation </h3>
      {{input value=(readonly startVal)
              change=(action 'changeDate' 'startDate') }}
      to
      {{input value=(readonly endVal)
              change=(action 'changeDate' 'endDate') }}

    <span data-test-id="vacation-length">{{newLength}}</span> days
  </div>
  <div>
      <button {{action (action attrs.create startDate endDate)}}> Create </button>
  </div>
</div>
